@import "../../Style/shared.scss";
/*---------------News letterr -----------------*/

.sidebar__left {
  &__bottom {
    padding-top: 100px;

    &__title-content {
      font-weight: normal;
      font-size: 24px !important;
      padding-bottom: 28px;
    }
  }

  &__news-contact {
    margin-top: 100px;
    background: $bg-news;
    padding: 6px;
  }

  &__letter {
    border: 3px solid $color-gray;
    padding: 40px 17px;

    &__title-content {
      font-size: 24px !important;
      color: $color-white;
    }

    &__text {
      color: $footer-color;
      line-height: 29px;
    }

    &__contact {
      position: relative;

      &__input {
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 24px 9px 24px 40px;
        border: 2px solid $color-white;
        width: 90%;
        background: #373844;
      }

      &__input::placeholder {
        color: $border-gray;
      }

      &__icoin-email-footer {
        position: absolute;
        left: 11%;
        top: 20px;
      }
    }

    &__btn {
      width: 90%;
      margin-top: 8px;
      padding-top: 14px !important;
      padding-bottom: 14px !important;
    }
  }

  .input-range__slider {
    border-radius: 0;
    background: $color-pink;
    border-color: $color-pink;
  }
}

.input-range__track--active {
  background: $color-pink !important;
}
