// ------------------variable- color-bg-fontsize---------------------------
$title-font-site: 35px;
$title-font: "Playfair Display", serif;
$default-font: "Sintony", sans-serif;
$default-color: rgb(53, 34, 34);
$default-font-site: 14px;
$color-white: #fff;
$color-orange: #fea100;
$color-black: #000;
$color-gray: #5c6369;
$color-pink: #fe4c8d;
$footer-color: #adb2b7;
$bg-header: #7d8587;
$bg-light-pink: #ffeac5;
$border-gray: #d4dade;
$color-pagin: #d38a0c;
$color-black-gray: #363d43;
$color-hight-black: #14141d;
$bg-news: #373844;
$gray-bg: #edf1f3;
$dark-orange: #fe8300;
$dark-blue: #2c465a;

